* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v7_271 {
  width: 375px;
  height: 812px;
  background: rgba(255, 255, 255, 1);
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v11_56 {
  width: 375px;
  height: 729px;
  background: rgba(246, 195, 150, 1);
  opacity: 0.6000000238418579;
  position: absolute;
  top: 92px;
  left: 0px;
  overflow: hidden;
}
.v11_57 {
  width: 394px;
  height: 168px;
  background: url("../images/v11_57.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 9px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v7_308 {
  width: 220px;
  height: 29px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 75px;
  left: 87px;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v11_186 {
  width: 130px;
  height: 66px;
  background: url("../images/v11_186.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 302px;
  left: 49px;
  overflow: hidden;
}
.v11_265 {
  width: 164px;
  height: 93px;
  background: url("../images/v11_265.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 459px;
  left: 49px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  overflow: hidden;
}
.v11_188 {
  width: 130px;
  height: 66px;
  background: url("../images/v11_188.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 643px;
  left: 56px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v29_105 {
  width: 121px;
  color: rgba(124, 124, 124, 1);
  position: absolute;
  top: 82px;
  left: 122px;
  font-family: Alata;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
